.btn {
  padding: 0.3vw;
  height: 2vw;
  width: 2vw;
  margin-right: 0.5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  outline: none;
  background-color: white;
  border: 0.1vw solid black;
  border-radius: 2px;
  font-size: 0.8vw;
}

.btn:hover {
  cursor: pointer;

  background-color: #eee;
}

.btn.selected {
  background-color: #eee;
  pointer-events: none;
}
