.btn {
  padding: 0.3vw;
  height: 2vw;
  width: 2vw;
  margin-right: 0.5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  outline: none;
  background-color: white;
  border: 0.1vw solid black;
  border-radius: 2px;
  font-size: 0.8vw;
}

.btn:hover {
  cursor: pointer;

  background-color: #eee;
}

.btn.selected {
  background-color: #eee;
  pointer-events: none;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .btn {
    padding: 1vw;
    height: 5vw;
    width: 5vw;
    margin-right: 0.5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    outline: none;
    background-color: white;
    border: 0.1vw solid black;
    border-radius: 2px;
    font-size: 2vw;
  }
}
