table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 50px auto; */
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 1vw;
}

td {
  font-weight: 300;
  font-size: 0.8vw;
}

.noRecords {
  margin: auto;
}
